<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>aloeverabar.png</string>
	<string>cabbage-tree.png</string>
	<string>dandelion.png</string>
	<string>elder-flower.png</string>
	<string>fennel.png</string>
	<string>blackberry.png</string>
	<string>crabapple.png</string>
	<string>elderberry.png</string>
	<string>apple.png</string>
	<string>apricot.png</string>
	<string>fig.png</string>
	<string>flax.png</string>
	<string>gorse.png</string>
	<string>kawakawa.png</string>
	<string>lavender.png</string>
	<string>nettle.png</string>
	<string>olive.png</string>
	<string>pear.png</string>
	<string>rosemary.png</string>
	<string>walnut.png</string>
</array>
</plist>
